#map {
  position: fixed;
  top: 0;
  width: 112vw;
  height: 112vh;
  z-index: -1;
  overflow: hidden;
  div.Marker {
    width: 657px;
    height: 657px;
    background: rgba(43, 255, 1, 0.726);
    opacity: 0.75;
    border-radius: 657px;
    filter: blur(48px);
    margin:-1px;
    padding: -1px;
    mix-blend-mode: color-burn;
    &:nth-of-type(2) {
      background: rgb(223, 0, 223);
    }
    &:nth-of-type(3) {
      background: rgb(0, 204, 204);
    }
    &:nth-of-type(4) {
      background: pink;
    }
  }
}
