form.InputForm {
  position: fixed;
  bottom: 12px;
  width: 100%;
  > div.wrapper {
    margin: 0 auto;
    width: 380px;
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    transition: 0.5s;
    input {
      border: none;
    }
  }
  input[type="submit"].material-icons,
  button.material-icons {
    user-select: none;
    width: 64px;
    border-radius: 72px;
    background: none;
    border: none;
    height: 64px;
    font-size: 36px;
  }
}
